<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>status</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
 <img class="img" src="assets/img/istoc.jpg">
 <ion-card>
  <ion-card-content>
    <p>Endereço: Chongoene</p>
    <p>Bairro: B1</p>
    <p>Localidade: Chongoene</p>
    <p>Cidade: Xai-Xai</p>
    <p>Província: Gaza</p>
  </ion-card-content>
 </ion-card>
 <ion-list>
  <ion-item lines="insert">
    <ion-label position="floating">Comentários</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
</ion-list>
<ion-button size="full" shape="round" color="primary">Submeter</ion-button>
</ion-content>
