<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Movimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
      <ion-icon name="archive-outline" color="warning" slot="start"></ion-icon>
      <ion-label>
        Deposito
        <p>02/10/2023 09:25:00</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <p>Actualizado as 03/10/2023 10:00:00</p>
        <p>Fica atento nas actualizações da conta</p>
      </ion-label>
    </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="checkmark-circle-outline" color="secondary" slot="start"></ion-icon>
        <ion-label>
          Pagamentos
          <p>02/10/2023 09:25:00</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <p>Actualizado as 03/10/2023 10:00:00</p>
          <p>Fica atento nas actualizações da conta</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="card-outline" color="danger" slot="start"></ion-icon>
        <ion-label>
          Emprestimos
          <p>02/10/2023 09:25:00</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <p>Actualizado as 03/10/2023 10:00:00</p>
          <p>Fica atento nas actualizações da conta</p>
        </ion-label>
      </ion-item>

      <ion-item line="none">
        <ion-icon name="trophy" slot="start" color="success"></ion-icon>
        <ion-label color="success">
          Juros: Mzn 750
          <p>04/10/2023 10:00:05</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
